
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  height: 100%;
  flex: 1 1 20%;
  box-shadow: 0 0 0.6rem #9da5ab;
}

.main {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 10%;
  box-shadow: 0.2rem 0 0.4rem #9da5ab;
}

.canvas {
  flex: 1 1 auto;
  min-height: 500px;
  min-width: 500px;
}

.footer {
  flex: 0 0 10%;
  box-shadow: 0.2rem 0 0.4rem #9da5ab;
}